
h1.title{
  font-size: 60px;
}

span.glyphicon-flash {
  padding:3%;
  font-size: 4em;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  
  margin-bottom: 60px;
}
.footer {
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  
  height: 100px;
  background-color: #f5f5f5;
}
