body {
  background: url('../images/bg.jpg') center center no-repeat fixed;
  background-size: cover;
}
/*.main {
  padding: 0 5% 10% 5%;
}*/

.col-sm-7.three-five {
  width:60% !important;
}

.col-sm-5.three-two {
  width:40% !important;
}

.home-row{
  padding: 10px 0;
}