.navbar-inverse {
  border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
  margin-left: 5px !important;
}
.navbar-right {
  margin-right: 0;
}
.navbar-right .badge {
  background-color: #0000FF;
}

/*Background image*/
body {
  background: url('../modules/core/images/bg.jpg') center center no-repeat fixed;
  background-size: cover;
  /*All main content inside this container, except header*/
  /*Setting maximum width for content in 1200px >*/
  /*Five column layout rules*/
}
body .content-box {
  padding: 5% 0;
}
@media (min-width: 1200px) {
  body .container {
    max-width: 1100px;
  }
}
body .row {
  margin: 0;
}
body .col-xs-15 .col-sm-15 .col-md-15 .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
body .col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  body .col-sm-15 {
    width: 20%;
    float: left;
    padding: 5px 10px;
  }
}
@media (min-width: 992px) {
  body .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  body .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.city-names {
  font-family: pacifico;
  font-size: 1.5em;
  padding: 2% 0;
  background-color: #FFFFFF;
  text-align: center;
}
.col-xs-6 {
  text-align: center;
  padding: 10px;
}
.col-xs-6 .price {
  background-color: #0000FF;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  padding: 2% 0 2% 4%;
}
.col-xs-6 .price .per-person {
  color: #1975FF;
  font-size: 13px;
}

.shopping-cart {
  background-color: #1975FF;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 2% 0;
}
.shopping-cart a {
  color: #FFFFFF;
  text-decoration: none;
}
