.shopping-cart {
  background-color: #1975FF;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding: 2% 0;
}
.navbar-nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.navbar-nav>li>a {
  text-align: center;
  text-decoration: none;
}
.dropdown {
  background-color: #1975FF;
}
.dropdown a {
  color: white;
}
/*.dropdown-menu {
  min-width: 120px;
}*/
