<div class="col-md-7 shopping-cart text-center">
  <ul class="navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Ostoskori
    </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aikuinen</a>
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lisää</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
