<!--First destination column-->
<div class="row">
  <div class="col-md-15 col-sm-15 col-xs-12">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-tampere.jpg" alt="tampere">
    <div class="city-names">
      Tampere
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
  <!--Second city-->
  <div class="col-md-15 col-sm-15 col-xs-12">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-male.jpg" alt="male">
    <div class="city-names">
      Male
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
  <!--Third city-->
  <div class="col-md-15 col-sm-15 col-xs-12">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-novosibirsk.jpg" alt="novosibirsk">
    <div class="city-names">
      Novosibirsk
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
  <!--Forth city-->
  <div class="col-md-15 col-sm-15 col-xs-12">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-tukholma.jpg" alt="tukholma">
    <div class="city-names">
      Tukholma
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
  <!--Fifth city-->
  <div class="col-md-15 col-sm-15 col-xs-12">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-paris.jpg" alt="pariisi">
    <div class="city-names">
      Pariisi
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
</div>
