<!--Second row-->
<div class="row">
  <div class="col-md-15 col-sm-15 col-xs-6">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-kouvola.jpg" alt="kouvola">
    <div class="city-names">
      Kouvola
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
  <!--Second city-->
  <div class="col-md-15 col-sm-15 col-xs-6">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-bermuda.jpg" alt="bermuda">
    <div class="city-names">
      Bermuda
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
  <!--Third city-->
  <div class="col-md-15 col-sm-15 col-xs-6">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-reykjavik.jpg" alt="reykjavik">
    <div class="city-names">
      Reykjavik
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
  <!--Forth city-->
  <div class="col-md-15 col-sm-15 col-xs-6">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-hervanta.jpg" alt="hervanta">
    <div class="city-names">
      Hervanta
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
  <!--Fifth city-->
  <div class="col-md-15 col-sm-15 col-xs-6">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-new-york.jpg" alt="new york">
    <div class="city-names">
      New York
    </div>
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
</div>
