<!--First destination column-->
<div class="row">
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-tampere.jpg" alt="tampere">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-male.jpg" alt="male">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-novosibirsk.jpg" alt="novosibirsk">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-tukholma.jpg" alt="tukholma">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-paris.jpg" alt="pariisi">
  </div>
</div>

<!--City names-->
<div class="row">
  <div class="col-md-15">
    <div class="city-names">
      Tampere
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Male
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Novosibirsk
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Tukholma
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Pariisi
    </div>
  </div>
</div>

<!--Price and cart-button-->
<div class="row">
  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
</div>
