<!--Firts destination row template-->
<!--Whee logo-->
<!-- <div class="row">Whee-logo z-index front</div> -->

<!--City pictures-->
<div class="row">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4">
        First row: City photo
      </div>
      <div class="col-sm-4">
        Second City photo
      </div>
      <div class="col-sm-4">
        Third City photo
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6">
        Fourth City photo
      </div>
      <div class="col-sm-6">
        Fifth City photo
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->

<!--City names-->
<div class="row text-center">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4">
        Tampere
      </div>
      <div class="col-sm-4">
        Mali
      </div>
      <div class="col-sm-4">
        Novo
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6">
        Tukholma
      </div>
      <div class="col-sm-6">
        Pariisi
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->



<!--Price and cart button-->
<div class="row">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6">
          Price €</div>
        <div class="col-sm-6 col-xs-6">
          Ostokoriin</div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6">
          Price €</div>
        <div class="col-sm-6 col-xs-6">
          Ostokoriin</div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6">
          Price €</div>
        <div class="col-sm-6 col-xs-6">
          Ostokoriin</div>
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-6 col-xs-6">
          Price €</div>
        <div class="col-sm-6 col-xs-6">
          Ostokoriin</div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6 col-xs-6">
          Price €</div>
        <div class="col-sm-6 col-xs-6">
          Ostokoriin</div>
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->
