<!--Cities-->
<div class="row" data-ng-controller="HomeCtrl">
  <div class="col-sm-15 col-xs-6 " data-ng-repeat="city in cityInformation">
    <img class="img-responsive" data-ng-src="{{city.image}}" alt="{{city.name}}">
    <div class="city-names">
      {{city.name}}
    </div>
    <div class="col-md-5 price">
      {{city.price}}€<span class="per-person">/hlö</span>
    </div>
    <!--dropdown menu for shoppingcart-->
    <div data-ng-include="'/modules/shoppingCartButton/views/shopping.cart.button.html'"></div>
  </div>
</div>
