<!--Second row-->
<div class="row">
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-kouvola.jpg" alt="kouvola">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-bermuda.jpg" alt="bermuda">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-reykjavik.jpg" alt="reykjavik">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-hervanta.jpg" alt="hervanta">
  </div>
  <div class="col-md-15">
    <img class="img-responsive center-block" src="/modules/destinations/images/offer-new-york.jpg" alt="new-york">
  </div>
</div>

<!--City names-->
<div class="row">
  <div class="col-md-15">
    <div class="city-names">
      Kouvola
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Bemuda
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Reykjavik
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      Hervanta
    </div>
  </div>
  <div class="col-md-15">
    <div class="city-names">
      New York
    </div>
  </div>
</div>

<!--Price and cart-button-->
<div class="row">
  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>

  <div class="col-md-15">
    <div class="col-md-5 price">
      300€<span class="per-person">/hlö</span>
    </div>
    <div class="col-md-7 shopping-cart">Ostoskori</div>
  </div>
</div>
