<!--Second destination row template-->
<!--City pictures-->
<div class="row">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4">
        Second row: City photo
      </div>
      <div class="col-sm-4">
        Second City photo
      </div>
      <div class="col-sm-4">
        Third City photo
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6">
        Fourth City photo
      </div>
      <div class="col-sm-6">
        Fifth City photo
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->

<!--City names-->
<div class="row text-center">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4 city-names">
        Tampere
      </div>
      <div class="col-sm-4 city-names">
        Mali
      </div>
      <div class="col-sm-4 city-names">
        Novo
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6 city-names">
        Tukholma
      </div>
      <div class="col-sm-6 city-names">
        Pariisi
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->

<!--Price and cart button-->
<div class="row">
  <div class="col-sm-7 five-three">
    <!--Inner row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6 price">
          220€<span class="per-person">/hlö</span></div>
        <div class="col-sm-6 col-xs-6 shopping-cart">
          Ostokoriin</div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6 price">
          120€<span class="per-person">/hlö</span></div>
        <div class="col-sm-6 col-xs-6 shopping-cart">
          Ostokoriin</div>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6 col-xs-6 price">
          300€<span class="per-person">/hlö</span></div>
        <div class="col-sm-6 col-xs-6 shopping-cart">
          Ostokoriin</div>
      </div>
    </div>
    <!--end innner-row-->
  </div>
  <div class="col-sm-5 five-two">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-6 col-xs-6 price">
          8€<span class="per-person">/hlö</span></div>
        <div class="col-sm-6 col-xs-6 shopping-cart">
          Ostokoriin</div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6 col-xs-6 price">
          2000€<span class="per-person">/hlö</span></div>
        <div class="col-sm-6 col-xs-6 shopping-cart">
          Ostokoriin</div>
      </div>
    </div>
    <!--End inner row-->
  </div>
</div>
<!--End outer row-->
